quiz-list {
    width: 400px;
    display: block;
    padding: 2px 20px;
    margin: 0px 5px;
    float: left;
}

    quiz-list.latest {
        background-color: #fff0f0;
    }

    quiz-list.byTitle {
        background-color: #e0e0e0;
    }

    quiz-list.random {
        background-color: #eda7ee;
    }
